<%= form_with model: @form, url: products_path, local: true do |form| %>

<table class="table">
<thead>
  <tr>
    <th width="60px">登録</th>
    <th>商品名</th>
    <th>販売価格</th>
    <th>発注単位</th>
  </tr>
</thead>
<tbody class="bulk-registration-form">
<%= form.fields_for :products do |f| %>

  <tr class="item">
    <td class="text-center">
  <%= f.check_box :availability %>
  </td>
    <td>
  <%= f.text_field :name, class: 'form-control' %>
  </td>
  <td>
<%= f.text_field :price, class: 'form-control' %>
  </td>
  <td>
 <%= f.text_field :unit, class: 'form-control' %>
  </td>
</tr>
    <% end %>
    </tbody>
</table>
<%= form.submit %>
  <% end %>


<%= link_to 'Back', root_path %>

